NEXT_PUBLIC_API_URL=http://localhost:4070/api/v1
NEXT_PUBLIC_WS_URL=http://localhost:4070
NEXT_PUBLIC_API_DOCS_URL=http://localhost:4070/api/docs
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_51Nk1wiFLuyhBQgukGDJJb5uq2EKd8olb2Yy6Bbm9m2GiXsObMKJEcZ4M88KKwSOYcPylFlfCz0RHwiov5U0F6ykv00TMcLXTUJ
NEXT_PUBLIC_OMOFLOW_URL=https://meeting-backend-tg9d.onrender.com
NEXT_PUBLIC_ENABLE_MEETING_RUNTIME=true
NEXT_PUBLIC_ENABLE_WHATSAPP_MEETING_FOLLOWUP=true
NEXT_PUBLIC_ENABLE_GOOGLE_MEETINGS=true
NEXT_PUBLIC_ENABLE_MICROSOFT_MEETINGS=true
NEXT_PUBLIC_ENABLE_MEETING_ADMIN=true
